article{
  height: auto;
  background-color: white;
}
.bcform{
  height: 380px;
  width: 1220px;
  background-color: white;
}
.bcform input[type="text"]{
  height: 30px;
  width:30%;
  border: 1px solid black;
  margin-right: 30px;
  border-radius: 3px;
}
.bcform input[type="phone"]{
  height: 30px;
  width: 28%;
  border: 1px solid black;
  border-radius: 3px;
}
.bcform input[type="date"]{
  height: 30px;
  width: 28.5%;
  border: 1px solid black;
  border-radius: 3px;
}
.bcform input[type="email"]{
  height: 30px;
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
}
.bcform label {
  font-size: 17px;
  margin-left: 40px;
}
.bcform select{
  height: 30px;
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
}
.bcform input[type="submit"]{
  height: 40px;
  width: 30%;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 400px;
}
 article>section{
  height: auto;
  width: 1226px;
  background-color: white;
  margin-left:10px;
}
.camps{
  height: 270px;
  width: 1226px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 0px;
  margin-top: 5px;
}
