article{
  height: 462px;
  background-color: white;
}
.coform{
  height: 460px;
  width: 800px;
  background-color: white;
}
.coform input[type="text"]{
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
.coform input[type="phone"]{
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
.coform input[type="email"]{
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
.coform label {
  font-size: 17px;
}

.coform input[type="submit"]{
  height: 40px;
  width: 30%;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
